@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@layer components {
  .info-panel {
    @apply
      bg-black/75 backdrop-blur-md
      border border-cyan-400/40
      rounded-md
      px-4 py-3
      text-cyan-300
      overflow-hidden
      pointer-events-auto;
  }

  .info-content {
    @apply text-sm;
    p {
      @apply my-4;
    }

    h1 {
      @apply text-lg font-semibold;
    }
  }

  .menu-panel {
    @apply
      bg-black/75 backdrop-blur-md
      border border-cyan-400/40
      rounded-md
      px-4 py-2
      text-cyan-300
      pointer-events-auto;
  }

  .menu-panel::before {
    content: '';
    @apply
      absolute
      inset-0
      rounded-xl
      bg-cyan-400/10
      blur-lg;
  }

  .info-link {
    @apply
      underline
      ;
  }

  .info-link:hover {
    @apply
      opacity-75;
  }

  .info-btn {
    @apply
      px-3 py-1.5
      text-xs font-medium
      rounded-md
      border
      backdrop-blur-sm

      bg-black/40
      border-cyan-400/20
      text-cyan-200

      transition
      duration-150
      ease-out;
  }

  .info-btn:hover {
    @apply
      bg-black/60
      border-cyan-400/40;
  }

  .info-btn:active {
    transform: scale(0.97);
  }

  .info-btn:focus-visible {
    @apply
      outline-none
      ring
      ring-cyan-400/40;
  }

  .info-btn[data-selected="true"] {
    @apply
      bg-cyan-400/20
      border-cyan-400/50
      text-cyan-100;
  }
}
